.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  height: 50px;
  background-color: #0d6efd;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;

}

.app-body {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 220px;
  background-color: #f8f9fa;
  padding: 16px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 12px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 24px;
}
